<div class="container">
  <h1><%= @restaurant.name %></h1>
  <h3><%= @restaurant.address %></h3>
  <h3><%= @restaurant.phone_number %></h3>
  <h3><%= @restaurant.category.capitalize %></h3>
  <br>
  <p><strong>Reviews</strong></p>

    <% @restaurant.reviews.each do |review| %>
      <p><%= review.rating %>: <%= review.content %></p>
    <% end %>
  <br>
  <p><%= link_to "+Add a Review", new_restaurant_review_path(@restaurant) %></p>
  <br>
  <h3><%= link_to "Back to all Restaurants", restaurants_path %></h3>
</div>
